extends ./layout
block content
    .col-md-12.banner
      h2 欢迎光临，Bruce Blog 基于Node.js
      button.btn.btn-info(type="button") 登录
      button.btn.btn-default(type="button") 注册
    .row
      .col-md-4
        h4 如何写象诗一样美的代码呢？
      .col-md-4
        h4 论一个程序员的自我修养
      .col-md-4
        h4 108个程序员内涵冷笑话段子