extends layout
block content
  div.usersd
    div.urerTow
      form.form-horizontal(role="form")
        .form-group
          .col-sm-12
            input#inputEmail3.form-control(type="email", placeholder="用户")
        .form-group
          .col-sm-12
            input#inputPassword3.form-control(type="password", placeholder="密码")
        .form-group.suerd
          .col-sm-offset-3.col-sm-10
            button.btn.btn-primary.submit(type="submit") 登录
